<mat-card class="comment-form" *ngIf="showInput; else addCommentTmpl">
  <mat-card-content>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Comentario" name="comment" [(ngModel)]="this.currentComment.message"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="save($event)">AGREGAR COMENTARIO</button>
  </mat-card-actions>
</mat-card>

<div class="comments-box">
  <div class="comment" *ngFor="let comment of comments" >
    <app-comment-view [comment]="comment"></app-comment-view>
  </div>
</div>

<ng-template #addCommentTmpl>
  <div class="add-comment">
    <a (click)="showInput = true" mat-button color="accent">AGREGAR COMENTARIOS</a>
  </div>
</ng-template>