<h1>FACTURAS</h1>
<div class="dashboard-actions">
  <button mat-raised-button color="primary" (click)="newInvoice()">
    NUEVA VENTA
  </button>
</div>

<mat-card class="dashboard-card">
  <mat-card-content class="dashboard-card-content">
    <table mat-table #table [dataSource]="invoices">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element"> <a [routerLink]="['/pyme/factura', element.id]" mat-button>{{element.id}}</a></td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date: 'short'}} </td>
      </ng-container>
      <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef>Artículos </th>
        <td mat-cell *matCellDef="let element"> {{element.items?.length}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> <b>{{element.total?.value | currency:'COP':'symbol-narrow':'.0'}}</b> </td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
              <button mat-icon-button class="row-actions-button" [matMenuTriggerFor]="menu" aria-label="Abrir Menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="goToDetail(element)">Ver Detalle</button>
                <button mat-menu-item (click)="addPayment(element)">Agregar Pago</button>
                <button mat-menu-item (click)="decline(element)">Declinar</button>
              </mat-menu>
          </td>
        </ng-container>

      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
