body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

.full-width.mat-form-field {
    width: 100%;
    display: block;
    .mat-form-field-infix{
        width: 100%;
    }
}

table {
    width: 100%;
}

.actions, .dashboard-actions{
    text-align: right;
    margin: 20px 0px;
    & > button {
        margin-left: 20px;
    }
}

.dashboard-card{
    position: relative;
    margin-bottom: 10px;
    .more-button{
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

label{
    color:rgba(0, 0, 0, 0.54);
    transform: scale(0.75);
    font-size: 13px;
}